<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: lightskyblue;
        }
    </style>
    <title>Washington Post Search</title>
</head>
<body>

<h3>Washington Post Search</h3>

<form action="{{ url_for('results') }}" name="search" method="post">
    <label for="query">Query:</label>
    <input type="text" id="query" name="query" size=50>
    <br>
    <input type="radio" name="method" id="bm25-default" value="bm25-default" checked>
    <label for="bm25-default">Use BM25 and the default analyzer</label>
    <br>
    <input type="radio" name="method" id="bm25-custom" value="bm25-custom">
    <label for="bm25-custom">Use BM25 and the custom analyzer</label>
    <br>
    <input type="radio" name="method" id="fasttext-default" value="fasttext-default">
    <label for="fasttext-default">Rerank using fastText embeddings and the default analyzer</label>
    <br>
    <input type="radio" name="method" id="sbert-default" value="sbert-default">
    <label for="sbert-default">Rerank using sentence BERT embeddings and the default analyzer</label>
    <br>
    <label for="num-results">&emsp; Return the top</label>
    <select name="num-results" id="num-results">
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    results
    <br>
    <input type="submit" value="Search">
</form>

</body>
</html>